{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sensors {% endblock %}</h1>
    {% for sensor in sensors %}
        <div class='sensor'>
            <p>{{ sensor['location_id'] }}</p>
            <p>{{ sensor['sensor_id'] }}</p>
            <p>{{ sensor['sensor_name'] }}</p>
            <p>{{ sensor['sensor_category'] }}</p>
            <p>{{ sensor['sensor_meta'] }}</p>
            <p>{{ sensor['sensor_api_key'] }}</p>
        </div>
    {% endfor %}
{% endblock %}